@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}

/* Tvinger frem synlighet på barene hvis de mangler høyde */
.h-2 { height: 8px !important; }
.h-3 { height: 12px !important; }
.rounded-full { border-radius: 9999px !important; }
